#KlantHiddenCreate {
  display: none;
}

#LeverancierHiddenCreate {
  display: none;
}

#InkoopHiddenCreate {
  display: none;
}

#hidden {
  display: none;
}

.hidden {
  display: none;
}





#HiddenCreateForm {
  display: none;
}

#HiddenObjectInput {
  display: none;
}

#hidden {
  display: none;
}

input {
  width: 8em;
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-tabs-1 {
  min-height: 406px;
  margin-top: 40px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-5 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 25px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0 50px;
}

.u-section-1 .u-search-1 {
  height: auto;
  width: 200px;
  min-height: 38px;
  margin: -35px auto 0;
}

.u-section-1 .u-table-1 {
  margin: 40px auto 0 0;
}

.u-section-1 .u-table-cell-8 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-24 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-32 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-40 {
  font-weight: 700;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 25px;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0 50px;
}

.u-section-1 .u-search-2 {
  height: auto;
  width: 200px;
  min-height: 38px;
  margin: -35px auto 0px;
}

.u-section-1 .u-table-2 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-49 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-58 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-67 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-76 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-85 {
  font-weight: 700;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 25px;
}

.u-section-1 .u-text-3 {
  margin: 30px auto 0 50px;
}

.u-section-1 .u-search-3 {
  height: auto;
  width: 200px;
  min-height: 38px;
  margin: -35px auto 0;
}

.u-section-1 .u-table-3 {
  margin: 40px 0 0;
}

.u-section-1 .u-table-cell-92 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-99 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-106 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-113 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-120 {
  font-weight: 700;
}

.u-section-1 .u-tab-pane-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 25px;
}

.u-section-1 .u-text-4 {
  margin: 30px auto 0 50px;
}

.u-section-1 .u-search-4 {
  height: auto;
  width: 200px;
  min-height: 38px;
  margin: -35px auto 0;
}

.u-section-1 .u-table-4 {
  height: 257px;
  margin: 40px auto 0 0;
}

.u-section-1 .u-table-cell-128 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-136 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-144 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-152 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-160 {
  font-weight: 700;
}

.u-section-1 .u-tab-pane-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 25px;
}

.u-section-1 .u-text-5 {
  margin: 30px auto 0 50px;
}

.u-section-1 .u-search-5 {
  height: auto;
  width: 200px;
  min-height: 38px;
  margin: -35px auto 0;
}

.u-section-1 .u-table-5 {
  height: 257px;
  margin: 40px auto 0 0;
}

.u-section-1 .u-table-cell-171 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-182 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-193 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-204 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-3 {
    height: 257px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-5 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-top: 32px;
  }

  .u-section-1 .u-search-2 {
    margin-top: -73px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 41px;
  }

  .u-section-1 .u-search-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 146px;
  }

  .u-section-1 .u-search-3 {
    margin-top: -173px;
  }

  .u-section-1 .u-table-3 {
    margin-top: 166px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-top: 200px;
  }

  .u-section-1 .u-search-3 {
    margin-top: -228px;
  }

  .u-section-1 .u-table-3 {
    margin-top: 220px;
    margin-right: initial;
    margin-left: initial;
  }
}